*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 300px;
    background-color: #Ce854f;
    transform: rotate(0deg);
    animation: rotateInsaneSquare 5s infinite ease-in-out;
}

.container2{
    width: 100%;
    height: 300px;
    background-color: #Ce854f;
    transform: rotate(0deg);
    transform: skew(0);
    animation: rotateInsaneSquare2 5s infinite ease;
}

@keyframes rotateInsaneSquare {
    0%{
        transform: rotate(0deg);
        transform: skew(0);
        transform: perspective(0);
        background-color: blueviolet;
    }
    50%{
        transform: rotate(360deg);
        transform: skew(15deg);
        transform: perspective(23rem);
        transform: matrix3d(
            -0.1,       1.788, 0,        0,
            -2.38,  -0.1,     0,        0,
             0,         0,       1,        0,
             0,         0,      0,        1);
        
        background-color: rgb(191, 82, 230);
        width: 5%;
    }
    100%{
        transform: rotate(0deg);
        transform: skew(0);
        transform: perspective(0);
        
        background-color: blueviolet;
    }
    
}

@keyframes rotateInsaneSquare2 {
    0%{
        transform: rotate(0deg);
        transform: skew(0);
        background-color: blueviolet;
    }
    50%{
        transform: rotate(-360deg);
        transform: skew(15deg);
        transform: perspective(23rem);
        transform: matrix3d(
            -0.6,       1.34788, 0,        0,
            -2.34788,  -0.6,     0,        0,
             0,         0,       1,        0,
             0,         0,      10,        1);
        background-color: rgb(191, 82, 230);
        width: 5%;
    }
    100%{
        transform: rotate(-720deg);
        transform: skew(0);
        background-color: blueviolet;
        
    }
    
}

@media only screen and (max-width: 768px){ 
    .container{ 
        background-color: aqua; 
        animation: rotateInsaneSquare 5s infinite ease-in-out;
    } 

    @keyframes rotateInsaneSquare {
        0%{
            transform: rotate(0deg);
            background-color: aqua; 
        }
        50%{
            transform: rotate(360deg);
            background-color: rgb(0, 255, 170); 
        }
        100%{
            transform: rotate(0deg);
            background-color: aqua; 
        }
        
    }
}

@media print{
    .container{
        background-color: #Ce854f;
        color: blueviolet;
    }
}



